@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --bg-color: #0F0F0F;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter';
    font-weight: 800;

}

main {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.panel-right {
    width: 352px;
    height: 900px;
    background: #151515;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.panel-center {
    width: 1050px;
    height: 860px;
}

.panel-center h1 {
    color: #FFFFFF;
}

.panel-left {
    width: 352px;
    height: 900px;
    background: #151515;
    border-radius: 32px;
}

.logo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    line-height: 39px;
    color: #FFFFFF;
}

.line {
    margin-top: 10px;
    width: 288.02px;
    height: 0px;
    border: 2px solid #454545;
}

.panel-content {
    margin-top: 35px;
    height: 600px;
    width: 300px;
}

.title-panel {
    color: #FFFFFF;
    margin-left: 15px;
}

.link-panel {
    margin-left: 35px;
    margin-top: 20px;
}

.first-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    transition: 0.9s;
}

.first-link:hover {
    transform: scale(1.1);
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #E55934;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.circle i {
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
}

.first-link p {
    margin-left: 15px;
    font-size: 22px;
    line-height: 27px;
    color: #E55934;
}

.first-link p {
    cursor: pointer;
}

.link-panel {
    color: #454545;
}

.second-link {
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 22px;
}

.second-link ul li {
    margin: 18px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.second-link ul li:hover {
    cursor: pointer;
    color: #E55934;
    transform: scale(1.05);
}

.second-link p {
    margin-left: 28px;
}

.second-link ul li i {
    width: 25px;
}

.first-case {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.box {
    width: 221px;
    height: 203px;
    background: #151515;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-con i {
    color: #5D8D7B;
}


.box-con .heade i:nth-child(1) {
    font-size: 40px;
}


.box-con .heade i:nth-child(2) {
    font-size: 25px;
}

.fa-ellipsis-vertical {
    margin-top: 5px;
}

.fa-ellipsis-vertical:hover {
    cursor: pointer;
}

.box-con .heade {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.box-con .heade i:nth-child(1) {
    font-size: 40px;
}

.box-con .heade i:nth-child(2) {
    font-size: 25px;
}

.fa-ellipsis-vertical {
    margin-top: 5px;
}

.fa-ellipsis-vertical:hover {
    cursor: pointer;
}

.box-con .body {
    margin-top: 50px;
    color: #9C9C9C;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.need-help .heade i:nth-child(1) {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 53px;
}

.seconde-case {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.computer-save {
    width: 480px;
    height: 212px;
    background: #151515;
    border-radius: 15px;
}

.computer-save .head .title-box {
    width: 230px;
    height: 44px;
    background: #39863c;
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.subscription-con {
    width: 480px;
    height: 212px;
    border-radius: 15px;
    background: #151515
}

.computer-description {
    margin-top: 50px;
    margin-left: 25px;
    width: 352px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #9C9C9C;
}

.progress {
    margin-top: 15px;
}

.progress-container {
    width: 391px;
    height: 9px;
    background-color: #a71d34;
    border-radius: 5px;
    margin: 0px 25px;
    text-align: center;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    background-color: #4caf50;
    width: 0%;
    transition: 0.8s;
}

#machineNumber {
    position: relative;
    left: 370px;
    color: #9C9C9C;
}

.subscription {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
}

.subscription .title {
    width: 145px;
    height: 44px;
    background: #39863c;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.subscription .second-title {
    width: 109px;
    height: 44px;
    background: #E83151;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.subscription .fa-ellipsis-vertical {
    margin-top: 10px;
    font-size: 25px;
    color: #9C9C9C;
}

#machines_Number {
    position: relative;
    left: 370px;
    color: #9C9C9C;
}


.subscription-option {
    display: none;
    width: 222px;
    height: 140px;
    margin-left: 212px;
    margin-top: 51px;
    background-color: #0F0F0F;
    position: absolute;
    z-index: 1;
    border-radius: 9px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    color: #9C9C9C;
    padding: 23px;
}

.subscription-option ul li {
    margin: 18px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
}

.subscription-option ul li:hover {
    cursor: pointer;
    color: #E55934;
    transform: scale(1.03);
}

.subscription-option p {
    margin-left: 28px;
}

.subscription-option ul li i {
    width: 25px;
}

.subscription-option i {
    font-size: 25px;

}

.log-con::-webkit-scrollbar-track {
    width: 20px;
    height: 270px;
    background: #1A1919;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.log-con::-webkit-scrollbar-thumb:hover {
    background: #101010;
    border-radius: 10px;
}

.log-con::-webkit-scrollbar {
    width: 10px;
    background: #1A1919;
    border-radius: 10px;
}

.log-con::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 10px;
}

.logs-con {
    margin-top: 10px;
    width: 1000px;
    height: 130px;
    background: #151515;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}

.log-con {
    overflow-y: auto;
    width: 95%;
    height: 72%;
}

.log-data {
    width: 98%;
    height: 98%;

}

.log-data table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;

}

.log-data thead {
    color: #FFFFFF;
    background-color: #0e0e0e;
    height: 45px;
}

.log-data thead tr th {
    width: 14%;
}

.log-body tr {
    width: 100%;
    color: #9C9C9C;
    background: #0F0F0F;
    height: 45px;
    text-align: center;
}


.log-data tbody tr:nth-child(odd) {
    background-color: #0b0b0b;
}

.log-data tbody tr td:nth-child(1) {
    color: #FFFFFF;
}

.log-data tbody tr td:nth-child(3) {
    color: #E55934;
}

.log-data tbody tr td:nth-child(7) {
    color: #5D8D7B;
}

.panel-left .header {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.panel-left .select-device {
    width: 150px;
    height: 25px;
    width: 160px;
    background: #151515;
    box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ;
    border-radius: 6px;
}

.panel-left .header .options {
    width: 129px;
    color: #9C9C9C;
    font-size: 20px;
}

.panel-left .header .options i {
    margin: 0px 10px;
    cursor: pointer;
}

.dropdown .select input {
    padding: 10px 10px;
    text-align: center;
    background-color: inherit;
    border: none;
    text-align: center;
    background: #151515;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #5D8D7B;
    border-radius: 6px;
    display: inline-block;
    transition: all .5s ease;
    font-size: 14px;
    height: 100%;
    text-align: left;
    border: none;
}

.dropdown .select input::placeholder {
    color: #5D8D7B;
}

.dropdown-menu {
    position: absolute;
}

.dropdown {
    width: 200px;
    display: inline-block;
    border-radius: 15px;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    height: 100%;
    text-align: left;
    border: none;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select>i {
    font-size: 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:active {
    background-color: #0F0F0F;

}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    background-color: #0F0F0F;
}

.dropdown.active .select>i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #151515;
    overflow-y: auto;
    right: -116px;
    border: none;
    display: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown .log-data tbody tr td {
    cursor: pointer;
}

.dropdown .log-data tbody tr td:nth-child(3) {
    color: #E83151;
}

.panel-left .body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.panel-left .line {
    margin-top: 25px;
}

.panel-left .profile {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 250px;
}

.panel-left .profile img {
    height: 150px;
    border-radius: 50%;
}

.panel-left .profile p {
    margin-top: 20px;
    font-size: 25px;
    color: #9C9C9C;
    font-weight: 600;
}

.panel-left .info-account p {
    font-size: 15px;
    text-align: center;
    margin: 10px;
    color: #5D8D7B;
}